/* CSS declarations go here */

body {
	font-family: Helvetica;
	font-size: 14px;
	display: inline;
	background-color: #a6ff9b;
}

.navbar {
	display: inline-block;
}

.navbar-header {
	background: black;
	color: white;
	text-align: center;
	font-size: 40px;
	min-height: 50px;
}

loginButton {
	float: right;
}

/* experiments*/

.room {
	text-align: left;
	padding-left: 40px;
	background-color: white;
	max-width: 66%;
	min-height: 150px;
}

body {
  padding: 10px;
}

a {
  color: #00B7FF;
}

.message-input {
	font-size:1.5em;
	padding:5px;
	margin-bottom:10px;
	max-width: 40%;
}